{% extends 'base.html' %}
{% block content %}
<h1>{{ column_name }}</h1>
<a class="btn btn-link" href="{{ url_for('columns') }}">Назад</a>
<table class="table">
    <tbody>
    {% for value in values %}
    <tr>
        <th scope="row">{{ value.title }}</th>
        <td>{{ value.number }}</td>
        <td>
            <form action="{{ url_for('values', column_name=column_name) }}" method="POST">
                <input type="hidden" name="hidden_field" value="{{ value.title }}">
                <input class="form-control" type="text" name="new_value">
                <button type="submit" class="btn btn-link rounded-pill px-3">Изменить</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-link" href="{{ url_for('download') }}">Завершить работу и скачать результат</a>
{% endblock %}